@import './reset.less';
@import './icon.less';
@import '~iview/dist/styles/iview.css';
@import '~iview/src/styles/index.less';

@primary-color: #E14C46;

.ivu-menu-vertical .ivu-menu-item{
    padding: 14px 4px 14px 24px;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
    padding: 14px 4px 14px 24px;
}
.ivu-menu-vertical .ivu-menu-submenu-title-icon{
    top: 0;
}
.ivu-menu-vertical.ivu-menu-light:after{
    width: 0;
}